*
{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
}
img
{
    width: 45%;
}
h2
{
    font-size: 30px;
    font-weight: normal;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
}
nav
{
    width: 100%;
}
.nav-links
{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}
.nav-links a
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    width: calc(100%/5);
    font-family: 'Open Sans', sans-serif;
}

.nav-links a:hover
{
    background-color: blanchedalmond;
}

/*

.nav-links a::before
{
    position: relative;
} 
.nav-links li:hover
{
    border-bottom: solid 2px #FC5185;
}
.nav-links li a
{
    display: block;
    width: auto;
    height: 100%;
    padding: 5px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: 20px;
}

*/







