*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
.logo
{
    font-size: 25px;
    font-weight: 200;
    font-family: 'Griffy', cursive;
}
nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#264653;
    color: white;
    min-height: 100px;
    font-family: 'Open Sans', sans-serif;
}
nav ul{
    list-style: none;
    align-items: center;
}
.nav-links
{
    display: flex;
    justify-content: space-between;
    width: 30%;
}
.nav-links a
{
    color: rgb(206, 203, 203);
    text-decoration: none;
    font-size: 18px;    
}
.btn {
    background-color: #ee9b00;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    /* width: 25%; */
    /* max-width: 150px; */
    transition: all 0.3s;
}
.btn:hover {
    background-color: #bd7e0b;
}
.burger div
{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 2px;
    transition: transform 0.4s;
}
.burger
{
    display: none;
}
@media screen and (max-width:1024px) {
    .nav-links
    {
        width: 60%;
    }
}
@media screen and (max-width:768px) {
    body{
        overflow-x: hidden;
    }
    .nav-links
    {
        position: absolute;
        right: 0px;
        top: 100px;
        height: 80vh;
        background-color:#182d35;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.7s ease-in;
    }
    .nav-links li
    {
        opacity: 0;
    }
    .burger{
        display: block;
    }
    
}

.nav-active
{
    transform: translateX(0%);
}

@keyframes navlinkfade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1
{
    transform: rotate(-45deg) translate(-5px, 2px);
}
.toggle .line2
{
    opacity: 0;
}
.toggle .line3
{
    transform: rotate(45deg) translate(-5px, -2px);
}

.home
{
    display: flex;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.max-width
{
    padding: 10px;
    margin: auto 0 auto 40px;
}
.home .home-content .text-1
{
    font-size: 2rem;
}
.home .home-content .text-2
{
    font-size: 4rem;
    font-weight: 600;
}
.home .home-content .text-3
{
    font-size: 2rem;
    margin: 5px 0;
}
.about-content
{
    display: flex;
    justify-content: center;
    align-items:baseline;
}
.about-text
{
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    padding: 10px 0;
    margin-right: 350px;
}
.about-img
{
    position: absolute;
    height: 50%;
    width: 50%;
    max-height: 300px;
    max-width: 300px;
    border-radius: 50%;
    right: 5%;
    border: 5px solid rgb(206, 203, 203);
}



