*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
.logo
{
    font-size: 25px;
    font-weight: 200;
    font-family: 'Griffy', cursive;
}
nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#264653;
    color: white;
    min-height: 100px;
    font-family: 'Open Sans', sans-serif;
}
nav ul{
    list-style: none;
    align-items: center;
}
.nav-links
{
    display: flex;
    justify-content: space-between;
    width: 30%;
}
.nav-links a
{
    color: rgb(206, 203, 203);
    text-decoration: none;
    font-size: 18px;    
}
.btn {
    background-color: #ee9b00;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    /* width: 25%; */
    /* max-width: 150px; */
    transition: all 0.3s;
}
.btn:hover {
    background-color: #bd7e0b;
}
.burger div
{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 2px;
    transition: transform 0.4s;
}
.burger
{
    display: none;
}
@media screen and (max-width:1024px) {
    .nav-links
    {
        width: 60%;
    }
}
@media screen and (max-width:768px) {
    body{
        overflow-x: hidden;
    }
    .nav-links
    {
        position: absolute;
        right: 0px;
        top: 100px;
        height: 80vh;
        background-color:#182d35;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.7s ease-in;
    }
    .nav-links li
    {
        opacity: 0;
    }
    .burger{
        display: block;
    }
    
}

.nav-active
{
    transform: translateX(0%);
}

@keyframes navlinkfade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1
{
    transform: rotate(-45deg) translate(-5px, 2px);
}
.toggle .line2
{
    opacity: 0;
}
.toggle .line3
{
    transform: rotate(45deg) translate(-5px, -2px);
}

.home
{
    display: flex;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.max-width
{
    padding: 10px;
    margin: auto 0 auto 40px;
}
.home .home-content .text-1
{
    font-size: 2rem;
}
.home .home-content .text-2
{
    font-size: 4rem;
    font-weight: 600;
}
.home .home-content .text-3
{
    font-size: 2rem;
    margin: 5px 0;
}
.heading
{
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    margin: 10px 0;
    font-family: 'Roboto Slab', serif;
}
.about-card
{
    margin: 20px 0;
    display: flex;
    align-items: center;
    font-family: 'Roboto Slab', serif;
}
.about-card img
{
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 5px 5px 2px rgb(105, 104, 104);
}
.about-card .about-text
{
    padding: 0 20px;
}
.project-cards
{
    display: flex;
    justify-content: center;
}
.card{
    position: relative;
    width: 320px;
    padding: 40px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
.card::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: calc(-100% + 5px);
    width: 100%;
    height: 100%;
    background-color: #bd7e0b;
    z-index: 1;
    transition: 0.5s;
}
.card:hover::before{
    bottom: 0;
}
.content{
    position: relative;
    text-transform: capitalize;
    color: #777;
    z-index: 2;
    transition: 0.5s;
}
.content h2
{
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 30px;
}
.content p{
    font-size: 18px;
}
.content a{
    margin-top: 10px;
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    color: #777;
    padding: 6px 10px;
    font-weight: 600;
    background-color: white;
    box-shadow: 0 2px 20px rgba(0,0,0,0,0.5);
}
.card:hover .content
{
    color: white;
}